.blogSection {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  padding: 0rem 0rem;
  padding-top: 5rem;
  transition: all 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.blogTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--highlight-color);
  margin-bottom: 1rem;
  text-align: center;
}

.blogIntro {
  font-size: 1.125rem;
  color: var(--secondary-text);
  line-height: 1.8;
  margin-bottom: 3rem;
  text-align: justify;
}

.section {
  margin-bottom: 2.5rem;
}

.sectionTitle {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--heading-highlight);
  margin-bottom: 1rem;
}

.sectionContent, .sectionText {
  font-size: 1rem;
  color: var(--secondary-text);
  line-height: 1.7;
  margin-bottom: .8rem;
  text-align: justify;
}

.pointsList {
  list-style-type: disc;
  padding-left: 1.5rem;
  color: var(--secondary-text);
}

.pointItem {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .blogTitle {
    font-size: 2rem;
  }

  .sectionTitle {
    font-size: 1.5rem;
  }

  .blogIntro,
  .sectionContent {
    font-size: 1rem;
  }
}



@media (max-width: 768px) {
   .blogTitle {
    font-size: 1.6rem;
    text-align: justify;
  }
}